cython==0.27.3
scipy
numpy
docutils
cachetools==2.0.1
textx
matplotlib==2.1.2
pycontracts
pydicom==1.0.0
pygame
kivy.deps.angle
kivy.deps.gstreamer
kivy.deps.sdl2
kivy.deps.glew
kivy
wget
six
coverage
