cython==0.27.3
scipy
numpy
docutils==0.14
cachetools==2.0.1
textx==1.6.1
matplotlib==2.1.2
pycontracts==1.8.2
pydicom==1.0.0
pygame
kivy.deps.angle
kivy.deps.gstreamer
kivy.deps.sdl2
kivy.deps.glew
kivy==1.10.0
wget
six
coverage
